.wrapp {
  font-family: "Open Sans", sans-serif;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  padding-bottom: 100px;
}
.singl-food-item {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.051);
  margin-top: 30px;
  height: 400px;
  transition: 0.5s;
}
.singl-food-item img {
  width: 60%;
}
.singl-food-item a {
  color: rgb(44, 44, 44);
  font-size: 20px;
  text-transform: capitalize;
  margin-top: 30px;
  font-weight: 600;
  display: block;
  text-decoration: none;
  transition: 0.5s;
}
.singl-food-item:hover a {
  color: #f91944;
  text-decoration: none;
}
.singl-food-item:hover {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.068);
}
.singl-food-item p {
  color: rgb(153, 153, 153);
  font-size: 15px;
}
.singl-food-item span {
  color: rgb(80, 80, 80);
  font-size: 22px;
  font-weight: 600;
}
.tab-menu ul {
  text-align: center;
  padding: 60px 0 20px 0;
}
.tab-menu ul li {
  display: inline-block;
  list-style: none;
  padding: 0 15px;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
  color: rgb(82, 81, 81);
}
.tab-menu ul li:hover {
  color: #f91944;
}
