.main-body {
  font-family: "Open Sans", sans-serif;
}
.hero-banner {
  background-position: center;
  width: 100%;
  height: 570px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.beef {
  position: absolute;
  left: 15%;
  top: 100px;
  -webkit-animation: tp 3s linear infinite;
  animation: tp 3s linear infinite;
  z-index: -1;
}
.roll {
  position: absolute;
  right: 20%;
  bottom: 100px;
  -webkit-animation: bp 3s linear infinite;
  animation: bp 3s linear infinite;
  z-index: -1;
}
@keyframes tp {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(0, 40px);
  }

  to {
    transform: translate(0, -0px);
  }
}
@keyframes bp {
  from {
    transform: translate(0, 0px);
  }

  65% {
    transform: translate(50px, 0px);
  }

  to {
    transform: translate(0, -0px);
  }
}

.banner-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}
.banner-text h1 {
  color: #494949;
  font-size: 45px;
  font-weight: 600;
  margin: 0;
}
.serach-form {
  position: relative;
  margin-top: 30px;
  display: inline-block;
  width: 550px;
}
#searchBox {
  border: none;
  background-color: #fff;
  border-radius: 30px;
  padding: 14px 30px;
  width: 100%;
}
.serach-form button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: #f91944;
  color: #fff;
  padding: 14px 40px;
  border-radius: 30px;
  text-transform: capitalize;
}

@media only screen and (max-width: 767px) {
  .serach-form {
    width: 380px;
  }
  .banner-text h1 {
    font-size: 40px;
  }
  .hero-banner {
    height: 400px;
  }
}
@media only screen and (max-width: 767px) {
  .serach-form {
    width: 380px;
  }
  .banner-text h1 {
    font-size: 40px;
  }
  .hero-banner {
    height: 400px;
  }
}
@media only screen and (max-width: 767px) {
  .beef {
    left: 7%;
    top: 0px;
  }
  .beef img {
    width: 150px;
  }
  .roll {
    right: 15%;
    bottom: 0px;
  }
  .roll img {
    width: 90px;
  }
}
